main {
  border-top: 1px solid $mercury;
}

.upload {
  margin: 0 1rem;
  padding: 1.5rem 0;
  * {
    margin: 0;
  }
  &__header {
    h1 {
      padding-bottom: 2rem;
      font-size: 1.5rem;
    }
    font-family: "avenir-bold";
    @include sub-header-m;
  }
  &__thumbnail-image {
    font-size: 0;
    line-height: 0;
  }
  &__thumbnail,
  &__video {
    img {
      width: 100%;
      border-radius: 4px;
    }
    @include paragraph-m;
    font-family: "avenir-demi";
    font-size: 0.75rem;
    color: $silver;
    &-title {
      margin-bottom: 0.3rem;
    }
    &-desc-title {
      margin-top: 1.5rem;
      margin-bottom: 0.3rem;
    }
    &-title-input,
    &-desc-input {
      &::placeholder {
        color: $black;
        font-size: 0.9rem;
        font-family: "avenir";
      }
      border: 1px solid $silver;
      border-radius: 4px;
      padding: 0.5rem;
      background-color: $alabaster;
      width: 100%;
    }
    &-title-input {
      height: 3rem;
    }
    &-desc-input {
      height: 8.9375rem;
    }
  }

  &__buttons {
    margin-top: 2rem;
    &-cancel {
      margin-top: 1rem;
      color: $brainflix-blue;
      background-color: $white;
    }
  }
}

@include tablet {
  .upload {
    padding: 0;
    margin: 3rem 1.5rem;

    &__header {
      h1 {
        font-size: 2rem;
      }
      border-bottom: 1px solid $mercury;
    }
    &__thumbnail {
      width: 47.78%;
      &-title {
        margin-top: 2.5rem;
      }
    }
    &__video {
      margin-top: 2.5rem;
      padding-bottom: 2.5rem;
      border-bottom: 1px solid $mercury;
    }
    &__buttons {
      margin-top: 2.5rem;
      margin-left: 55.555%;
      display: flex;
      justify-content: flex-end;
      &-cancel {
        margin: 0;
        order: -1;
      }
    }
  }
}

@include desk {
  .upload {
    margin: 3rem 11.25rem;
    &__header {
      h1 {
        font-size: 3em;
      }
    }
    &__contents {
      display: flex;
      flex: 1;
      padding-top: 2.5rem;
    }
    &__thumbnail {
      &-title {
        margin-top: 0.2rem;
      }
      flex: 0.32576;
    }
    &__video {
      margin-top: 0;
      padding-bottom: 0;
      flex: 0.67424;
      margin-left: 1.5rem;
      border-bottom: none;
      form {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        flex: 1;
      }
      &-title-input {
        height: 25%;
      }
      &-desc-input {
        height: 36%;
      }
      &-desc-title {
        margin-bottom: 0.2rem;
      }
    }
    &__buttons {
      margin-left: 55.055%;
      width: 100%;
    }
  }
}
