/*
to make the site more closely resemble the mockup
different values were used where possible
becuase using this mixin values does not make my site
match the mockup image.
*/
@font-face {
  font-family: "avenir";
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "avenir-thin";
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Thin.otf");
}

@font-face {
  font-family: "avenir-light";
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Light.otf");
}

@font-face {
  font-family: "avenir-med";
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Medium.otf");
}

@font-face {
  font-family: "avenir-demi";
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "avenir-bold";
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "avenir-bolder";
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Heavy.otf");
}

/* media query for tablet */
/* media query for high pixel density desktops */
.header {
  margin: 0.625rem 1rem 1rem 1rem;
  text-align: center;
}

.header__search {
  width: 100%;
  background-image: url("../assets/Icons/SVG/Icon-search.svg");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  height: 3rem;
  padding: 0;
  margin: 0.5625rem 0 0.625rem 0;
  text-indent: 2.5rem;
}

.header__search:active {
  background-image: none;
}

.header__upload-link {
  width: 100%;
  margin-right: 1rem;
}

.header__bimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__bimg-button {
  -webkit-box-flex: 0.77777777;
      -ms-flex: 0.77777777;
          flex: 0.77777777;
}

.header__bimg-img {
  -webkit-box-flex: 0.22222222;
      -ms-flex: 0.22222222;
          flex: 0.22222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__bimg-img img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .header {
    margin: 1rem 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 26.9375rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__search {
    -webkit-box-flex: 0.55;
        -ms-flex: 0.55;
            flex: 0.55;
    margin: 0;
  }
  .header__bimg {
    -webkit-box-flex: 0.45;
        -ms-flex: 0.45;
            flex: 0.45;
  }
  .header__bimg-button {
    margin-left: 1.5rem;
  }
  .header__bimg-img {
    margin-left: 1.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    margin: 1rem 11.25rem;
  }
}

button {
  color: #ffffff;
  font-family: "avenir-demi";
  font-size: 14px;
  line-height: 18px;
  background-color: #0095ff;
  border-radius: 4px;
  border-style: hidden;
  width: 100%;
  height: 3rem;
  margin: 0;
  padding: 0;
}

button:hover {
  background-color: #0065ad;
}

.comment__delete-button {
  font-family: "avenir";
  font-size: 0.5rem;
  color: #ffffff;
  width: 2rem;
  height: 1.5rem;
}

.comment__delete-button:hover {
  background-color: red;
}

@media only screen and (min-width: 768px) {
  .comment__delete-button {
    width: 3rem;
  }
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem;
}

.comment * {
  margin: 0;
}

.comment__left {
  font-size: 0;
  line-height: 0;
  position: relative;
}

.comment__left img {
  position: relative;
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.comment__right {
  width: 100%;
  padding-left: 1rem;
  font-size: 14px;
  line-height: 18px;
}

.comment__right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 0.5rem;
}

.comment__right-top-name {
  font-size: 0.9rem;
  font-family: "avenir-demi";
}

.comment__right-top-date {
  font-family: "avenir";
  font-size: 0.9rem;
  color: #afafaf;
}

.comment__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.comment__paragraph-text {
  -webkit-box-flex: 0.95;
      -ms-flex: 0.95;
          flex: 0.95;
  font-size: 0.875rem;
}

@media only screen and (min-width: 768px) {
  .comment {
    margin: 1rem 1.5rem 1rem 1.5rem;
    padding: 0;
    padding-bottom: 1rem;
  }
  .comment__right-top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .comment__right-top-name {
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  .comment {
    padding: 1rem 4rem 1rem 0;
    margin: 0;
  }
}

.conv {
  padding: 2.5rem 1rem 1.5rem 1rem;
  border-bottom: 1px solid #e1e1e1;
}

.conv * {
  margin: 0;
}

.conv__title {
  font-family: "avenir-demi";
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 2rem;
}

.conv__join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conv__join-left {
  -webkit-transform: translateY(1.5rem);
          transform: translateY(1.5rem);
  font-size: 0;
  line-height: 0;
}

.conv__join-left img {
  width: 3rem;
  border-radius: 50%;
}

.conv__join-right {
  width: 100%;
  margin-left: 1rem;
}

.conv__join-right-title {
  font-size: 13px;
  line-height: 18px;
  font-family: "avenir-demi";
  color: #afafaf;
  margin-bottom: 0.5rem;
}

.conv__join-right-input {
  font-size: 13px;
  line-height: 18px;
  padding: 0.5rem;
  height: 5.75rem;
  border: 1px solid #afafaf;
  border-radius: 4px;
  background-color: #fafafa;
  width: 100%;
}

.conv__join-right-input:focus {
  border-width: 3px;
  border-color: #0065ad;
}

.conv__join-right-button {
  margin: 1rem 0 1.5rem 0;
}

@media only screen and (min-width: 768px) {
  .conv {
    padding: 0;
    margin: 4rem 1.5rem 0rem 1.5rem;
  }
  .conv__join {
    padding-bottom: 1.5rem;
  }
  .conv__join-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .conv__join-right-title {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    margin-bottom: 0.2rem;
  }
  .conv__join-right-input {
    height: 3rem;
    -webkit-box-flex: 0.7251;
        -ms-flex: 0.7251;
            flex: 0.7251;
    margin-right: 1rem;
  }
  .conv__join-right-button {
    margin: 0 2.5rem 0 0;
    -webkit-box-flex: 0.2749;
        -ms-flex: 0.2749;
            flex: 0.2749;
  }
}

@media only screen and (min-width: 1440px) {
  .conv {
    padding: 3.75rem 2rem 0 0;
    margin: 0;
  }
  .conv__join {
    width: 100%;
  }
  .conv__join-right-title {
    margin-left: 0.3rem;
  }
  .conv__join-right-input {
    margin-left: 0.3rem;
  }
  .conv__join-right-button {
    margin-right: 0;
  }
}

.video {
  font-size: 0;
  line-height: 0;
  height: 57.1875vw;
}

.video__playing {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
}

.video__info {
  margin: 2rem 1rem 0 1rem;
}

.video__info * {
  margin: 0;
}

.video__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "avenir-bold";
  margin-bottom: 1rem;
}

.video__details {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e1e1e1;
}

.video__channel-timestamp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.video__views-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video__channel {
  font-family: "avenir-demi";
}

.video__timestamp {
  margin-left: 0.5rem;
  color: #afafaf;
}

.video__views-likes img {
  margin-right: 0.5rem;
}

.video__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.video__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 2rem;
}

.video__description {
  font-size: 12px;
  line-height: 20px;
  font-size: 0.754rem;
  margin-top: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .video {
    height: 52.085vw;
    padding: 0 2.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: black;
  }
  .video__info {
    margin: 3rem 1.5rem 0 1.5rem;
  }
  .video__title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 1.5rem;
  }
  .video__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .video__details * {
    margin: 0;
  }
  .video__timestamp {
    margin-left: 0.5rem;
  }
  .video__likes {
    margin-left: 1.5rem;
  }
  .video__description {
    margin-top: 2.5rem;
    width: 63%;
  }
}

@media only screen and (min-width: 1440px) {
  .video {
    height: 37.5vw;
    padding: 0 15.5rem;
  }
  .video__info {
    margin-left: 0;
    margin-right: 0;
  }
  .video__details {
    padding-right: 2rem;
  }
  .video__description {
    font-size: 14px;
    line-height: 18px;
    width: 74%;
    line-height: 1.5rem;
  }
}

.mainVideo-container {
  position: relative;
  margin: 0;
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 5%;
}

.control__playPause-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 4rem;
}

.control__playPause-button img {
  height: 50%;
}

.control__progressBar {
  height: 2rem;
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: 0.5rem;
}

.control__progress {
  background-color: black;
  width: 75%;
  border-radius: 0.5rem;
  height: 0.2rem;
  display: inline-block;
}

.control__time {
  display: none;
}

.control__volumeScreen {
  width: 6rem;
  height: 2rem;
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 0.5rem;
}

.control__volume, .control__fullScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0);
}

.control__volume img, .control__fullScreen img {
  height: 50%;
}

@media only screen and (min-width: 768px) {
  .control {
    padding: 0 6.109%;
    bottom: 4%;
  }
  .control__progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: 1rem;
  }
  .control__progressBar {
    margin-left: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .control__time {
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline;
    color: white;
  }
  .control__volumeScreen {
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  .control {
    padding: 0 18.25%;
    bottom: 3%;
  }
  .control__progressBar {
    margin-left: 1rem;
  }
  .control__volumeScreen {
    margin-left: 1rem;
  }
}

.video-list {
  margin: 2.5rem 1rem;
}

.video-list__heading {
  margin: 0;
  margin-bottom: 2.5rem;
  font-size: 14px;
  line-height: 18px;
  font-family: "avenir-demi";
  color: #afafaf;
}

.video-list__single {
  margin: 1.5rem 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-list__single-img {
  width: 120px;
  height: 70px;
  font-size: 0;
  line-height: 0;
}

.video-list__single-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.video-list__single-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1rem;
}

.video-list__single-info-title {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  font-family: "avenir-demi";
}

.video-list__single-info-channel {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 13px;
  line-height: 18px;
}

@media only screen and (min-width: 768px) {
  .video-list {
    margin: 2.5rem 1.5rem;
    width: 50%;
  }
  .video-list__single-img img {
    width: 100%;
  }
  .video-list__single-info-title {
    padding-right: 1.7rem;
  }
}

@media only screen and (min-width: 1440px) {
  .video-list {
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .desktop-view {
    margin: 0 11.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .desktop-view__left {
    -webkit-box-flex: 0.659259;
        -ms-flex: 0.659259;
            flex: 0.659259;
    border-right: 1px solid #e1e1e1;
  }
  .desktop-view__right {
    -webkit-box-flex: 0.340751;
        -ms-flex: 0.340751;
            flex: 0.340751;
  }
}

main {
  border-top: 1px solid #e1e1e1;
}

.upload {
  margin: 0 1rem;
  padding: 1.5rem 0;
}

.upload * {
  margin: 0;
}

.upload__header {
  font-family: "avenir-bold";
  font-size: 14px;
  line-height: 18px;
}

.upload__header h1 {
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.upload__thumbnail-image {
  font-size: 0;
  line-height: 0;
}

.upload__thumbnail, .upload__video {
  font-size: 13px;
  line-height: 18px;
  font-family: "avenir-demi";
  font-size: 0.75rem;
  color: #afafaf;
}

.upload__thumbnail img, .upload__video img {
  width: 100%;
  border-radius: 4px;
}

.upload__thumbnail-title, .upload__video-title {
  margin-bottom: 0.3rem;
}

.upload__thumbnail-desc-title, .upload__video-desc-title {
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
}

.upload__thumbnail-title-input, .upload__thumbnail-desc-input, .upload__video-title-input, .upload__video-desc-input {
  border: 1px solid #afafaf;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: #fafafa;
  width: 100%;
}

.upload__thumbnail-title-input::-webkit-input-placeholder, .upload__thumbnail-desc-input::-webkit-input-placeholder, .upload__video-title-input::-webkit-input-placeholder, .upload__video-desc-input::-webkit-input-placeholder {
  color: #323232;
  font-size: 0.9rem;
  font-family: "avenir";
}

.upload__thumbnail-title-input:-ms-input-placeholder, .upload__thumbnail-desc-input:-ms-input-placeholder, .upload__video-title-input:-ms-input-placeholder, .upload__video-desc-input:-ms-input-placeholder {
  color: #323232;
  font-size: 0.9rem;
  font-family: "avenir";
}

.upload__thumbnail-title-input::-ms-input-placeholder, .upload__thumbnail-desc-input::-ms-input-placeholder, .upload__video-title-input::-ms-input-placeholder, .upload__video-desc-input::-ms-input-placeholder {
  color: #323232;
  font-size: 0.9rem;
  font-family: "avenir";
}

.upload__thumbnail-title-input::placeholder, .upload__thumbnail-desc-input::placeholder, .upload__video-title-input::placeholder, .upload__video-desc-input::placeholder {
  color: #323232;
  font-size: 0.9rem;
  font-family: "avenir";
}

.upload__thumbnail-title-input, .upload__video-title-input {
  height: 3rem;
}

.upload__thumbnail-desc-input, .upload__video-desc-input {
  height: 8.9375rem;
}

.upload__buttons {
  margin-top: 2rem;
}

.upload__buttons-cancel {
  margin-top: 1rem;
  color: #0095ff;
  background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .upload {
    padding: 0;
    margin: 3rem 1.5rem;
  }
  .upload__header {
    border-bottom: 1px solid #e1e1e1;
  }
  .upload__header h1 {
    font-size: 2rem;
  }
  .upload__thumbnail {
    width: 47.78%;
  }
  .upload__thumbnail-title {
    margin-top: 2.5rem;
  }
  .upload__video {
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #e1e1e1;
  }
  .upload__buttons {
    margin-top: 2.5rem;
    margin-left: 55.555%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .upload__buttons-cancel {
    margin: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media only screen and (min-width: 1440px) {
  .upload {
    margin: 3rem 11.25rem;
  }
  .upload__header h1 {
    font-size: 3em;
  }
  .upload__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-top: 2.5rem;
  }
  .upload__thumbnail {
    -webkit-box-flex: 0.32576;
        -ms-flex: 0.32576;
            flex: 0.32576;
  }
  .upload__thumbnail-title {
    margin-top: 0.2rem;
  }
  .upload__video {
    margin-top: 0;
    padding-bottom: 0;
    -webkit-box-flex: 0.67424;
        -ms-flex: 0.67424;
            flex: 0.67424;
    margin-left: 1.5rem;
    border-bottom: none;
  }
  .upload__video form {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .upload__video-title-input {
    height: 25%;
  }
  .upload__video-desc-input {
    height: 36%;
  }
  .upload__video-desc-title {
    margin-bottom: 0.2rem;
  }
  .upload__buttons {
    margin-left: 55.055%;
    width: 100%;
  }
}

body {
  font-family: "avenir";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */